.navbar-fixed
  nav
    .nav-wrapper
        a(href='/')
            img#logo(src="/../../public/styles/images/logoabe.jpg" alt="Logo")
        ul.top-right
            li
                .btn
                    a(href='/overons') Over ons
            li
                .btn
                    a(href='/tarieven') Tarieven
            li
                .btn
                    a(href='/reserveren') Reserveren
