html
    head
        -var title = 'Touw en Blok Amsterdam Centrum'
        include includes/head.pug
        
    body
        include includes/navbar.pug
        
        .container
            .inner-containeroverons
                h1 Over ons
                p Wij wonen in een studentenhuis midden in het centrum van Amsterdam. Omdat er ieder jaar weer huisgenoten komen en gaan, hebben wij veel ervaring met verhuizingen. Wij wonen in een pand met een smal en laag trapgat, waardoor bijna alles verhuisd moet worden via touw en blok. 
                p Echter, bij iedere verhuizing bleek het lastig om een touw en blok te huren. Niet alleen is er weinig aanbod in Amsterdam Centrum, maar ook de prijzen en de beschikbaarheid laten meer dan te wensen over!
                p Daarom zijn wij Touw en Blok Amsterdam begonnen. Wij zijn het enige verhuurbedrijf in Amsterdam waar je touw en blok per UUR kunt huren! En dat ook nog eens tegen de allerscherpste tarieven! Daarbovenop zijn wij flexibel als het gaat om reserveren, ophalen en afleveren. Betalen kan gemakkelijk via internetbankieren of contant.
                p Wij zijn er zeker van dat Touw en Blok Amsterdam het beste bij uw verhuizing past!

        include includes/footer.pug